<%= simple_form_for @console do |f| %>


  <%= f.input :brand, as: :radio_buttons, collection: Console::BRAND, label: false, item_wrapper_tag: false, wrapper_html: {class: 'brand-choice'}  %>
  <label for="shifter">Controllers</label>
  <%= f.input :shifter, as: :radio_buttons, collection: 1..8, label: false, item_wrapper_tag: false, wrapper_html: {class: 'shifter-choice'}  %>
  <%= f.input :description, as: :text, label: "Description" %>
  <%= f.input :address, as: :string, label: "Address"%>
  <%= f.input :price_per_day, as: :integer, placeholder: "20 €" %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

