<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h1><%= @console.brand %></h1>
    </div>
    <div class="card-block">
      <h4 class="card-title"><%= @console.shifter %> manettes</h4>
      <p><%= @console.price %> euros </p>
      <button type="button" class="btn btn-warning"><%= link_to "Go back", consoles_path %></button>
      <button type="button" class="btn btn-warning"><%= link_to "Edit", edit_console_path(@console) %></button>
      <button type="button" class="btn btn-danger"><%= link_to "Delete", console_path(@console),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></button>
    </div></br>
  </div>
</div>

<div class="container" style="display: flex">
  <div class="card" style="align-items: center;">
      <div class="row"></br>
          <h2 class="text-center">Book now ?</h2>
            <%= simple_form_for [@console, @booking] do |f| %>
              <%= f.input :start_day, as: :date, label: "date" %>
              <%= f.input :duration, collection: 1..7 %>
              <%= f.submit "Book !", class: "btn btn-primary" %>
          <% end %>
      </div>
  </div>
</div>
