<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
    <div class="card-block">
      <h4 class="card-title"><%= @user.description %></h4>
      <button type="button" class="btn btn-warning"><%= link_to "Mettre à jour mon profil", edit_user_registration_path %></button>
    </div>
  </div>


  <!-- my pending bookings -->
  <div>
    <h2>My pending bookings</h2>
      <% @bookings_pending.each do |book| %>
      <div>
         <p>start day: <%= book.start_day %></p>
         <p>Duration: <%= book.duration %></p>
         <p>Console: <%= book.console.brand %></p>
         <p>Name: <%= book.console.user.first_name %></p>
      </div>
      <% end %>
  </div>

   <!-- my approved  bookings -->
  <div>
    <h2>My approved bookings</h2>
      <% @bookings_approved.each do |book| %>
      <div>
         <p>start day: <%= book.start_day %></p>
         <p>Duration: <%= book.duration %></p>
         <p>Console: <%= book.console.brand %></p>
         <p>Name: <%= book.console.user.first_name %></p>
      </div>
      <% end %>
  </div>

   <!-- my past bookings -->
  <div>
    <h2>My past bookings</h2>
      <% @bookings_past.each do |book| %>
      <div>
         <p>start day: <%= book.start_day %></p>
         <p>Duration: <%= book.duration %></p>
         <p>Console: <%= book.console.brand %></p>
         <p>Name: <%= book.console.user.first_name %></p>
      </div>
      <% end %>
  </div>

     <!-- my declined bookings -->
  <div>
    <h2>My declined bookings</h2>
      <% @bookings_declined.each do |book| %>
      <div>
         <p>start day: <%= book.start_day %></p>
         <p>Duration: <%= book.duration %></p>
         <p>Console: <%= book.console.brand %></p>
         <p>Name: <%= book.console.user.first_name %></p>
      </div>
      <% end %>
  </div>



  <!-- Liste des consoles -->
  <div class="card">
    <h2>Toutes mes consoles</h2>
    <% @user.consoles.each do |console| %>
      <div style="background-color: #F0F2EF; margin-bottom: 5px; position: relative; margin-right: 2px; width: 350px">
        <h4 class="card-title"><%= console.brand %></h4>
        <h6 class="card-subtitle mb-2 text-muted"><%= console.shifter %> manettes</h6>
        <p class="card-text"><%= console.description %> </p>
        <button type="button" class="btn btn-primary"><%= link_to "Edit",  edit_console_path(console)%></button>
         <button type="button" class="btn btn-danger"><%= link_to "Delete", console_path(console),
              method: :delete,
              data: { confirm: "Are you sure?" } %></button></br></br>
      </div>
    <% end %>
  </div>

  <!-- Mes prochaines locations -->
  <div class="card">
    <h2>Mes prochaines locations</h2>
    <% @user.consoles.each do |console| %>
      <div style="background-color: #F0F2EF; margin-bottom: 5px; position: relative; margin-right: 2px; width: 350px">
        <h4 class="card-title"><%= console.brand %></h4>
        <h6 class="card-subtitle mb-2 text-muted"><%= console.shifter %> manettes</h6>
        <p class="card-text"><%= console.description %> </p>
        <button type="button" class="btn btn-primary"><%= link_to "Edit",  edit_console_path(console)%></button>
         <button type="button" class="btn btn-danger"><%= link_to "Delete", console_path(console),
              method: :delete,
              data: { confirm: "Are you sure?" } %></button></br></br>
      </div>
    <% end %>
  </div>

  <!-- Mon historique de location -->
  <div class="card">
    <h2>Mon historique de location</h2>
    <% @user.consoles.each do |console| %>
      <div style="background-color: #F0F2EF; margin-bottom: 5px; position: relative; margin-right: 2px; width: 350px">
        <h4 class="card-title"><%= console.brand %></h4>
        <h6 class="card-subtitle mb-2 text-muted"><%= console.shifter %> manettes</h6>
        <p class="card-text"><%= console.description %> </p>
        <button type="button" class="btn btn-primary"><%= link_to "Edit",  edit_console_path(console)%></button>
         <button type="button" class="btn btn-danger"><%= link_to "Delete", console_path(console),
              method: :delete,
              data: { confirm: "Are you sure?" } %></button></br></br>
      </div>
    <% end %>
  </div>
</div>
