<% if console.photo %>
  <% url = cl_image_path cocktail.photo.path %>
<% else %>
  <% url = cl_image_path('playing-sony-console-controller_k4isza.jpg', :effect=>'auto_saturation', :height=>100, :crop=>'scale') %>
<% end %>

<div class="product marged-left" id="product-<%= console.id %>">
  <%= cl_image_tag url, crop: :fit, class: "product-image hidden-xs" %>
  <div class='product-body'>
    <h3>Rent by <span class="in-redpastel"><%= console.user.first_name %> <%= console.user.last_name %></span></h3>
    <% if console.shifter > 1 %>
    <p><%= console.brand %> with <%= console.shifter %> controllers - <span class="in-redpastel"><%= console.price_per_day %>€</span></p>
    <% else %>
    <p><%= console.brand %> with <%= console.shifter %> controller - <span class="in-redpastel"><%= console.price_per_day %>€</span></p>
    <% end %>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs" id="product-controls-<%= console.id %>">
    <li><%= link_to "", "#", class: "fa fa-eye" %></li>
  </ul>
  <%= link_to "", "#", class: "card-link", id: "#{console.id}" %>
</div>


